// Customer Table Styles
.employeeTable{
    border: 2px solid #000;
    width: 100%;
    tr,td,th{
        border: 2px solid #000;
        padding: 5px;
    }
    border-collapse: collapse;
}
.customerTable{
    border: 2px solid #000;
    width: 100%;
    tr,td,th{
        border: 2px solid #000;
        padding: 5px;
    }
    border-collapse: collapse;
}